<!-- Carousel
Code adapted from UI of Intelligentsia, Phillyo (https://github.com/phillyo/intelligentsia/blob/master/home.html)
R Shiny App found in R Shiny Gallery
================================================== -->

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
  <div class="container">
        <h1 class="fit-head"> </h1>
  </div>
  </div>

  <div class="row app-links">
  <div class="col-md-4">
    <center>
    <i class="fas fa-map fa-8x"></i>
    <h2>Mapping Dashboard</h2>
    <p>The Mapping Dashboard is used to perform geospatial analysis on qPCR run samples. An interactive map displays qPCR run sample collection locations, provides the ability to filter data, and create exportable customizable reports.</p>
  </center>
  </div><!-- /.col-md-4 -->
  <div class="col-md-4">
    <center>
    <i class="fas fa-chart-bar fa-8x"></i>
    <h2>Analyze Individual Samples</h2>
    <p>The Data Overview page is used to analyze individual qPCR tube/well samples and allows for quality control inspection of data. Users can inspect amplification curves and standard curves, and export publication quality images.</p>
    </center>
  </div><!-- /.col-md-4 -->
  <div class="col-md-4">
    <center>
    <i class="fas fa-chart-line fa-8x center"></i>
    <h2>Statistical Modelling</h2>
    <p>Use the fluorescence data and metadata to create a species prescence prediction model. The model can be used estimate the probability of species prescence in candidate sites.</p>
    </center>
  </div><!-- /.col-md-4 -->
  </div><!-- /.row -->
  </div>
